.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .checkbox-container label {
    margin-right: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .checkbox-container input[type="text"] {
    display: none;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    border: none;
  }
  
  .checkbox-container button {
    margin-right: 5px;
    border-radius: 10px;
    border: none;
  }

  .checkbox-container #delbutton {
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    background-color: red;
  }
  
  